<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <p class="card-text">{{content}}</p>
        <p class="date">{{createdAt}}</p>
        <img src="{{mediaPath}}" class="img-fluid" style="width: 35%">
        <button class="btn btn-danger mt-2">Delete</button>
    </div>
</div>