<header>
    <div class="container">
        <nav>
            <div class="logo">
                <h1> GamersNook! </h1>
            </div>
            <div class="user-actions">
                <a href="/signup" class="btn btn-primary"> Sign Up </a>
                <a href="/login" class="btn btn-secondary"> Log In </a>
            </div>
        </nav>
    </div>
</header>