
<!-- CSS Files -->
<link rel="stylesheet" href="styles/general.css">
<link rel="stylesheet" href="styles/index.css">
<link rel="icon" type="image/x-icon" href="/styles/images/fav2.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Bootstrap JavaScript and jQuery -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous" defer></script>
        
{> header}

<main>
    <section class="hero">
        <div class="container">
            <h1> Welcome to GamersNook! </h1>
            <p><span>Your Ultimate Gaming Community</span></p>
            <a href="/signup" class="btn btn-primary"> Sign Up Now </a>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="feature">
                <i class="fas fa-users feature-icons"></i>
                <h2> User Profiles </h2>
                <p> Showcase your gaming achievements and connect with like-minded gamers. </p>
            </div>
            <div class="feature">
                <i class="fas fa-star feature-icons"></i>
                <h2> Game Reviews </h2>
                <p> Share your thoughts and discover the best games with our community. </p>
            </div>
            <div class="feature">
                <i class="fas fa-comments feature-icons"></i>
                <h2> Discussion Forums </h2>
                <p> Engage in meaningful conversations about your favorite games. </p>
            </div>
        </div>
    </section>
</main>
{> footer}  
    </body>
</html>