
<title> Reviews - GamersNook! </title>
<!-- Link to Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> --}}

<!-- CSS Files -->
<link rel="stylesheet" href="styles/general.css">
<link rel="stylesheet" href="styles/reviews.css"/>

<!-- Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" defer></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script> --}}

<!-- JavaScript Files -->
<script src="/javascript/script.js" defer></script>
<script src="/javascript/comment.js" defer></script>
<body>
    {{> navibar}}
    <div class="latest-content">
        <div class="reviews-title"> Latest Reviews and Discussions </div>
         <div class="search-box" style="margin-right: 2%;">
            <input type="text" id="search" onkeyup="searching()"  placeholder="Search post by title" style="padding:5px;">
        </div>
        {{#each reviewsData}}
        <div class="user-container">
            {{> reviewContent}}
            {{> reviewsComments}}
        </div> 
         {{/each}}   
        </div>
</body>