body{
    background-color: #02042f;
}

/* Header styles */
header {
    font-family: var(--header-font);
    background-color: rgba(255, 255, 255, 0.271);
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.432);
    border-bottom: 1.5px solid rgba(76, 79, 84, 0.593);
}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
}

/* Form styles */
.card {
    background-color: #ffffff66;
    color: #333; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body:hover{
    color: #ffffff;
    background-size: cover;
    transition-duration: 0.5s;
    border-radius: 3px;
    margin: 2%;
}

.card-header {
    background-color: #fbbd2e; 
    border-bottom: 2px solid #333; 
    color: #333; 
}

.card-body {
    padding: 30px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color:  #dddddd;
}

.form-control {
    background-color: #f2f2f289; 
    color: #333; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-control:hover{
    color: #000000;
}

.form-control:focus {
    border-color: #e02efb;
    box-shadow: none; 
}

.btn-primary {
    background-color: #ff8de4;
    background-image: url('images/tao.png');
    transition-duration: 0.5s;
    background-size: cover;
    color: #f9dede;
    text-shadow: 1px 1px #00ffea;
    font-weight: bolder;
    padding: 9px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #00ffea; 
}

/* Link styles */
.text-center a {
    color: #ffffff; 
}

.text-center a:hover {
    text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
 
}

/* Messages */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.chat-icon-image {
    width: 60px;
    height: 60px;
}

.new-chat-icon {
    font-size: 24px; 
    color: #ff3ac7;
    cursor: pointer;
    width: 30px;
}

.chat-box {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px; 
    background-color: #050093;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.chat-content {
    display: flex;
    flex-direction: row; 
    align-items: stretch; 
    width: 100%;
}

.chat-header {
    background-color: #08001b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-button {
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
}

.chat-messages {
    width: 80%; 
    height: 450px;
    padding: 10px;
    overflow-y: auto;
}

.message {
    background-color: #4f0000;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.user {
    text-align: right !important;
    background-color: #ece7e7; /* Background color for user messages */
    color: black; /* Text color for user messages */
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.other-user{
    text-align: left !important;
    background-color: #f1f1f1; /* Background color for other-user messages */
    color: #000; /* Text color for other-user messages */
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3b3939;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#messageInput {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3b3939;
    color: #fff;
    margin-right: 10px;
}

#sendMessage {
    background-color: #CF5442;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sendMessage:hover {
    background-color: #9c2b4b;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    display: block; /* timestamp appear on a new line */
    margin-top: 5px; /* some space between the message and timestamp */
}

/* Chat Sidebar */
.chat-sidebar {
    width: 30%; 
    background-color: #20004a;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.chat-entry {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.chat-entry img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-entry.active {
    background-color: #ff00b7ad; 
    border-radius: 6px;
}

/* Search bar styles */
.chat-search {
    padding: 10px;
}

#chatSearchInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #20004a;
    color: #fff;
    font-size: 14px;
}

#chatSearchInput::placeholder {
    color: #ccc;
}

#chatSearchInput:focus {
    border-color: #ff00b7ad;
}


/* Footer styles */
.footer-container {
    background-image: url('images/bg2.png');
    background-color: #292929;
    color: #ffffff; 
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #f5f0f6;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-links li {
    margin: 0 20px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #e3a6de;
}

.social-icons i:hover {
    color: #c04db8;
}

.profile-pic{
    width: 200px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

button{
    margin: 1%;
    width: fit-content;
}
