body {
    background-color: var(--header-bg);
    background-image: url('images/bgA.jpg');
    background-size:100%;
}

/* Header styles */
header{
    font-family: var(--header-font);
    background-color: rgba(184, 175, 175, 0.426);
    /*--padding: 10px 0;*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px solid rgba(76, 79, 84, 0.08);
}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
    margin-left: auto;
    margin-right: auto;
}

/* Form styles */
.card {
    background-color: #292929; 
    color: #ffffff; 
    border-radius: 3px;
    border:2px solid rgb(11, 234, 234);
}

.card-header {
    background-color: #121212; 
    border-bottom: 2px solid #e9e7e2;
    background: url('images/bg2.png');
}

.card-body {
    padding: 30px;
    background: url('images/bg2.png');
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #adc6e0; 
    font-family: var(--header-font);
}

.form-control {
    background-color: #dfdcdc5f; 
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #00fff2;
}

.btn-primary {
    background-color: #f18bf0;
    background-image: linear-gradient(rgba(69, 231, 36, 0.702), rgb(35, 87, 10));
    color: #ffffff;
    font-family: var(--header-font);
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgb(32, 18, 18);
}

.btn-primary:hover {
    background-color: #1a0014;
}

/* Link styles */
.text-center {
    font-family: var(--header-font);
}

.text-center a {
    font-family: var(--header-font);
    text-decoration: none;
    color: #07f4f0;
}

.text-center a:hover {
    text-decoration: underline;
    color: hsl(343, 87%, 67%);
}

/* Media queries for responsiveness (customize as needed) */
@media (max-width: 768px) {

}

.logo {
    display: block;
    justify-content: center;
    width: 100%;
}