body{
  background-color: #02042f;
}

/* Header styles */
header {
    font-family: var(--header-font);
    /* background-color: rgba(255, 255, 255, 0.271); */
    background-color: #464867;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.432);
    border-bottom: 1.5px solid rgba(76, 79, 84, 0.593);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
}

.search-box {
  float: inline-end;
  margin-left: 2%;
  top: 0;
  left: 0;
  right: 0;
}

#search {
  width: 200px;
}

/* Latest content section styles */
.reviews-title {
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  font-size: 30px;
  background-color: #dbe0f4;
  color: black;
  padding: 3%;
}

.reviews-title {
  margin-bottom: 10px;
}

.user-container {
  align-items: center;
  margin: 50px auto;
  width: 750px;
  height: 600px;
  background-color: #f5f0f6;
  border-radius: 3px;
  overflow: auto;
  overflow-x: hidden;
  border:1px solid #99f3ff;
}

.profile-container {
  position: sticky;
  top: 0; left: 0; right: 0;
  z-index: 500;
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 8px;
  border-bottom: 2px solid grey;
  background-color: #292929;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px auto;
  padding-bottom: 0;
}

.profile-pic {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}

.username {
  font-size: 20px;
  color: #e2e2e2;
  font-weight: bold;
}

.title {
  font-size: 20px;
  color: #02042f;
}

.game-pic {
  height: 300px;
  width: 600px;
}

.post-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2%;
  border-radius: 5px;
  background-color: rgba(84, 121, 207, 0.613);
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #175da49d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00374f7d; 
}

.post-content {
  margin: 1%;
  font-size: 12px;
  color: #02042f;
}

p {
  text-align: justify;
}

/* Read more styles */
.more {
  display: none;
}

.myBtn:hover{
  cursor: pointer;
}

.myBtn {
  color: #51114e;
  font-weight: bold;
}

/* Footer styles */
.footer-container {
  background-image: url('images/bg2.png');
  background-color: #292929;
  color: #ffffff; 
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #f5f0f6;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-links li {
  margin: 0 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px;
  margin: 0 10px;
  color: #e3a6de;
}

.social-icons i:hover {
  color: #c04db8;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
 
}

/* Comment styles */
.card { 
	height: auto; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
	border-radius: 10px; 
	padding: 10px; 
	background-color: rgb(222, 222, 222); 
	margin-top: 10px; 
  color: black;
  font-size: 12px;
} 

.text { 
	display: block; 
	font-size: 20px; 
	font-weight: bold; 
} 

.reply { 
	color: rgb(84, 84, 233); 
	cursor: pointer; 
	margin-top: 5px; 
} 

.comment-details { 
	margin-left: 4rem; 
	display: flex; 
	align-items: center; 
	margin-top: 10px; 
} 

.input { 
	height: 30px; 
	border-radius: 10px; 
} 

.btn { 
	color: white; 
	margin-left: 5px; 
	background-color: rgb(135, 135, 235); 
	border: 0px; 
	border-radius: 10px; 
	height: 30px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
	cursor: pointer; 
} 

.all-comment:not(:first-child) { 
	margin-left: 1rem; 
}

.post-date{
  color:black;
}