body{
    background-color: #02042f;
}

/* Header styles */
header {
    font-family: var(--header-font);
    background-color: rgba(255, 255, 255, 0.271);
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.432);
    border-bottom: 1.5px solid rgba(76, 79, 84, 0.593);

}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
}

/* Latest content section styles */
.reviews-title {
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  font-size: 50px;
  background-color: #171D34;
  padding: 3%;
}

.reviews-title {
  margin-bottom: 10px;
}

.user-container {
  border: 2px solid #E0E2C9;
  margin: 10px auto;
  width: 800px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 800px;
  margin-top: 0;
  border: 2px solid yellow;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  padding-bottom: 30px;
  width: 800px;
  background-color: rgb(162, 162, 209);
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.username {
  font-size: 20px;
}

.title {
  font-size: 30px;
}

.game-pic {
  height: 300px;
  width: 400px;
}

.game-pic:hover {
  height: 500px;
  width: 800px;
}

.post-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  width: 800px;
  background-color: rgb(162, 162, 209);
}

.post-info {
  margin-left: 200px;
  margin-right: 200px;
}

p {
  text-align: justify;
}

/* Footer styles */
footer {
  background-image: url('images/bg2.png');
  background-color: #292929;
  color: #ffffff; 
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #f5f0f6;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-links li {
  margin: 0 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px;
  margin: 0 10px;
  color: #fbbd2e;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
 
}

.hero .container{
  background-image: url(images/bgG.jpg);
  background-size: cover;
  height: 400px;
  width: 650px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.519);
}

.square {
  height: 50px;
  width: 100px;
  background-color: #555;
  position: absolute;
  margin: 2%;
  justify-content: center;
  animation: updown 2s linear infinite;
  background-image: url('images/bgB.jpg');
  background-size: cover;
  box-shadow: 5px 5px #00000028;
  border-radius: 4px;
}


@keyframes updown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.post{
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-title{
  margin: 10px 0px 5px 0px;
}

.post .user-profile {
  display: flex; 
  align-items: center; 
}

.post .user-profile img {
  width: 75px; 
  height: 75px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.user-info {
  display: flex;
  flex-direction: column; 
}

.user-name {
  font-size: 16px;
  margin-top: 30px;
}

.post-content img {
  width: 70%; 
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 5px 0px 5px 0px; 
}

.post-text {
  width: 70%;
  text-align: justify;
}