body {
    background-color: var(--header-bg);
}

/* Header styles */
header {
    font-family: var(--header-font);
    background-color: var(--header-bg);
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px solid rgba(76, 79, 84, 0.08);
    position: sticky;
    top: 0;
}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
}

/* Form styles */
.card {
    background-color: #292929; 
    color: #ffffff; 
    border-radius: 10px;
}

.card-header {
    background-color: #121212; 
    border-bottom: 2px solid #e9e7e2;
    background: url('images/bg2.png');
}

.card-body {
    padding: 30px;
    background: url('images/bg2.png');
}

.form-group label {
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #adc6e0; 
}

.form-control {
    background-color: #dfdcdc; 
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #63b096;
}

.btn-primary {
    background-color: #f18bf0;
    background-image: linear-gradient(rgba(231, 36, 59, 0.714), rgb(250, 65, 216));
    color: #ffffff;
    font-family: var(--header-font);
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgb(32, 18, 18);
}

.btn-primary:hover {
    background-color: #1a0014;
}

/* Link styles */
.text-center {
    font-family: var(--header-font);
}

.text-center a {
    font-family: var(--header-font);
    text-decoration: none;
    color: #d2b8e4;
}

.text-center a:hover {
    text-decoration: underline;
    color: hsl(343, 87%, 67%);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Add responsive styles here */
}
