body {
    background-color: black;
}

/* Header styles */
header {
    font-family: var(--header-font);
    background-color: var(--header-bg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px solid rgba(2, 97, 250, 0.08);
    top: 0;
}

.navbar-brand {
    background: url('images/bg1.png');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-size: 32px;
    color: #99f3ff;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    justify-content: center;
    width: 100%;
}

/* Form styles */
.card {
    background-color: #292929; 
    color: #ffffff; 
    border-radius: 5px;
    border:3px solid #00fff78d;
}

.card-header {
    background-color: #3a1f42; 
    border-bottom: 2px solid #e9e7e2;
}

.card-body {
    padding: 80px;
    background: url('images/bgD.jpg');
    background-size: cover;
}

.form-group label {
    font-family: var(--header-font);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #adc6e0; 
}

.form-control {
    background-color: #e7dada5e; 
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #63b096;
}

.btn-primary {
    background-color: #f18bf0;
    background-image: linear-gradient(rgba(231, 60, 22, 0.616), rgba(255, 21, 0, 0.841));
    color: #ffffff;
    font-family: var(--header-font);
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgb(32, 18, 18);
}

.btn-primary:hover {
    background-color: #1a0014;
}

/* Link styles */
.text-center {
    font-family: var(--header-font);
}

.text-center a {
    font-family: var(--header-font);
    text-decoration: none;
    color: #ff9be9;
}

.text-center a:hover {
    text-decoration: underline;
    color: hsl(343, 87%, 67%);
}

.row {
    padding-bottom: 60px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

}